{% extends "auctions/layout.html" %}
{% block body%}
<h3>Listing  {{listing.id}}</h3>

<ul>
    <li>Product Name :  {{listing.Name}} </li>
     <img src="{{ listing.cover.url}}" alt="{{ listing.title }}" style="max-width: 200px;">

     <li> Starting Bid: {{listing.Starting_Bid}} </li>
     <li>Description: {{listing.Description}}</li>
     <li>Active Listing: {{listing.isActive}}</li>
     <li>Category: {{listing.category}}</li>
     <li>Lister: {{listing.Lister}}</li>
     
     
</ul>



{% endblock%}
